/* *{
    background: yellow!important;
} */

html {
    font-size: 62.5%;
}

h3 {

    font-family: "Source Sans Pro";
    font-size: 5.4rem;
    text-align: left;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFF0DD;
}

.error-message {
    color:#CC9900!important;
    font-family: "Source Sans Pro";
    font-size: 2.4rem !important;
    text-align: left !important;
    line-height: 105% !important;
}

.language--btn {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
}