/* *{
    background: yellow!important;
} */

@import url("https://use.typekit.net/tna6krh.css");

:root {
    --blue: #1D76FC;
    --background: #F7F5EE;
    --orange: rgb(201, 82, 60);
    --green: #427265;
    --pink: #E7A5BA;
    --purple: #AA7DAE;
    --brother: "brother-1816", sans-serif;
}

* {
    box-sizing: border-box;
    /* cursor: none; */
}

body {
    font-size: calc(16px + 0.390625vw);
    margin: 0;
    background-color: var(--background);
    position: relative;
}
.display-none {
    display: none!important;
}

.flex {
    display: flex;
}


h2,
h3 {
    font-family: var(--brother);

}

h4,
h5,
h6 {
    font-family: var(--brother);
}

hgroup.into h1 {
    opacity: 0;
    transition: opacity 3s;
}

h1 {
    font-family: "brother-1816", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    color: var(--blue);
    margin: .3rem 0 .6rem 0;
}


h2 {
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    margin: 3rem 0 .5rem 0;
}


p {
    font-family: "brother-1816", sans-serif;
    font-weight: 400;
    margin-top: 1rem;
}



.btn-green {
    background-color: var(--green);
    border: none;
    height: 2.5rem;
    padding: 0 1.8rem;
    font-family: var(--brother);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    color: var(--background);
    transition: all .3s ease-in-out;
    display: table;
}

.btn-green:hover {
    background-color: var(--blue);
}

.btn-basic {
    background-color: var(--orange);
    border: none;
    width: 18rem;
    height: 4rem;
    font-family: var(--brother);
    font-size: 2rem;
    border-radius: 10px;
    color: var(--background);
    transform: all .3s ease-in-out;
}

.btn-basic:hover {
    background-color: var(--green);
}

.btn-transparent {
    border: solid 1px var(--green);
    background-color: transparent;
    color: var(--green);
    height: 2.5rem;
    padding: 0 1.8rem;
    font-family: var(--brother);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 20px;
    display: table;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0;
}

hr {
    border: 1px solid rgb(201, 82, 60);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr.top {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr.bottom {
    margin-top: 0;
}

a {
    text-decoration: none;
}



.logo {
    font-family: "brother-1816", sans-serif !important;
}

li {
    font-family: "Source Sans Pro";

    /* color: black;
    font-size: 2.8rem;
    line-height: 3.8rem;
    font-weight: 300;
    margin: 15px 0px; */
}






h1, .h1 {
    margin: 0.3rem 0 0.6rem 0;
    font-family: var(--brother);
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    color: var(--blue);
  
color:var(--orange);
    margin: 0.3rem 0 0.6rem 0;
    color: var(--orange);
}

h3 {

    font-family: "Source Sans Pro";
    font-size: 5.4rem;
    text-align: left;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFF0DD;
}



.error-message {
    color: #CC9900 !important;
    font-family: "Source Sans Pro";
    font-size: 2.4rem !important;
    text-align: left !important;
    line-height: 105% !important;
}

/* .language--btn {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 10;
} */

.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.bg-green {
    background-color: var(--green);
    height: 300px;
    width: 100%;
    padding: 1rem;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 768px){
        height: 600px;
    }
    @media (min-width: 1000px){
        height: 900px;
    }
}
.bg-purple {
    background-color: var(--purple);
    flex-direction: column;
    padding: 1rem;
}

/// Animation Classes ///

.appear {
    opacity: 1;
}

.grow {
    display: inline-block;
    width: 0%;
    transition: all 1s ease-in;
}
.grow.activated {
    display: inline-block;
    width: 100%;
    transition: all 1s ease-in;
}
.appear {
    opacity: 0;
    transition: all 0.5s ease-in;
}
.appear.activated {
    opacity: 1;
    transition: all 0.5s ease-in;
}